[profile.default]
src = "src"
out = "out"
libs = ["lib"]
via_ir = true
optimizer = true
optimizer_runs = 200
remappings = [
    "@openzeppelin/=lib/openzeppelin-contracts/",
    "@hashgraph/=lib/hedera-smart-contracts/"
]

[rpc_endpoints]
testnet = "${HEDERA_RPC_URL}"